.status-wrapper {
  float: right;
  display: block;
}

.linha {
  margin-top: 30px;
}

.bandeira-verde{
  background-color: #00FA9A;
}

.bandeira-amarela{
  background-color: #F0E68C;
}

.bandeira-vermelha{
  background-color: #FFA07A;
}

.bandeira-vermelha2{
  background-color: #FF6347;
}