
<div class="col-md-12">
  <div class="card">
    <div class="card-header card-header-info">
      <h4 class="card-title ">Clientes
        <button [routerLink]="['/cliente/cadastro']"
                class="card-title btn btn-outline-primary btn-sm status-wrapper" >Cadastrar</button>
      </h4>

    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
          <thead class="text-primary">

          <th>Razão Social</th>
          <th>CNPJ</th>
          <th>Nome Fantasia</th>
          <th>Gestor</th>
          <th>Status</th>
          <th>Ações</th>

          </thead>
          <tbody>

          <tr *ngFor="let cliente of listaClientes">
            <td>{{cliente.razaoSocial}}</td>
            <td>{{ aplicaMascara(cliente.cnpj) }}</td>
            <td>{{cliente.nomeCurto}}</td>
            <td> {{ exibirGestorNome(cliente.gestorId) }} </td>
            <td>{{cliente.ativo == true ? 'Ativo' : 'Inativo'}}</td>
            <td>
              <div class="btn-group">
                <button type="button" class="btn btn-outline-primary btn-sm"
                        [routerLink]="['/cliente',cliente.id,'ver']">Detalhes</button>

                <button type="button" class="btn btn-outline-primary btn-sm dropdown-toggle"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu">
                  <button class="dropdown-item" [routerLink]="['/cliente',cliente.id, 'editar']">Editar</button>
                  <button class="dropdown-item excluir" (click)="deletar(cliente.id)">Excluir</button>
                </div>
              </div>
            </td>
          </tr>



          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>