<div class="col-md-12">
  <div class="card">
    <div class="card-header card-header-info">
      <h4 class="card-title ">ICMS
        <button [routerLink]="['/impostos/icms/icms-cadastro']"
                class="card-title btn btn-outline-primary btn-sm status-wrapper" >Cadastrar</button>
      </h4>

    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
          <thead class="text-primary">

          <th>Concessionária</th>
          <th>Aliquota (%)</th>
          <th>Inicio de Vigência</th>
          <th>Fim de Vigência</th>
          <th colspan="2">Ações</th>

          </thead>
          <tbody>

          <tr *ngFor="let icms of listaIcms">
            <td>{{ exibirNomeConcessionaria(icms.concessionariaId) }}</td>
            <td>{{ icms.aliquota + '%' }}</td>
            <td>{{ icms.inicioVigencia | date:'dd/MM/yyyy' }}</td>
            <td>{{ icms.fimVigencia | date:'dd/MM/yyyy' }}</td>
            <td>
              <div class="btn-group">
                <button type="button" class="btn btn-outline-primary btn-sm"
                        [routerLink]="[icms.id,'ver']">Detalhes</button>

                <button type="button" class="btn btn-outline-primary btn-sm dropdown-toggle"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu">
                  <button class="dropdown-item" [routerLink]="[icms.id, 'editar']">Editar</button>
                  <button class="dropdown-item excluir" (click)="deletarIcms(icms.id)">Excluir</button>
                </div>
              </div>
            </td>
          </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>