

<div class="main-content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-info">
            <h4 class="card-title">{{ titulo }}
              <button [routerLink]="['/impostos/icms']"
                      class="card-title btn btn-outline-primary btn-sm status-wrapper" >
                <i class="material-icons">undo</i>
              </button>
            </h4>
          </div>
          <div class="card-body" >

            <form #form="ngForm" (ngSubmit)="salvar(form.value)" >

              <div class="row">

                <div class="col-md-4">
                  <mat-form-field class="example-full-width">

                    <input matInput  placeholder="Aliquota (%)" type="text" name="aliquota" required [value]="vlAliquota" [(ngModel)]="vlAliquota">

                  </mat-form-field>
                </div>

                <div class="col-md-3">
                  <mat-form-field class="example-full-width">
                    <input matInput [matDatepicker]="picker" placeholder="Inicio de Vigência"  name="inicioVigencia" [(ngModel)]="inicioVigencia">
                    <mat-datepicker-toggle matSuffix [for]="picker">
                      <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                    </mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </div>

                <div class="col-md-3">
                  <mat-form-field class="example-full-width">
                    <input matInput [matDatepicker]="picker2" placeholder="Fim de Vigência"  name="fimVigencia" [(ngModel)]="fimVigencia">
                    <mat-datepicker-toggle matSuffix [for]="picker2">
                      <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
                    </mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                  </mat-form-field>
                </div>

              </div>
              <div class="row">

                <div class="col-md-4">

                  <mat-form-field>
                    <select matNativeControl placeholder="selecione a concessionária" required [(ngModel)]="concessionariaId" name="concessionariaId">
                      <option value="" disabled selected></option>
                      <option value = 0 selected>Nenhum</option>
                      <option *ngFor="let item of listaConcessionarias" [value]="item.id">
                        {{ item.nomeCurto }}
                      </option>
                    </select>
                  </mat-form-field>

                </div>



              </div>

              <button mat-raised-button type="submit"  class="btn btn-outline-info pull-right">Confirmar</button>
              <div class="clearfix"></div>

            </form>

          </div>
        </div>
      </div>

    </div>

  </div>
</div>

