<div class="col-md-12">
  <div class="card">
    <div class="card-header card-header-info">
      <h4 class="card-title ">COFINS
        <button [routerLink]="['/impostos/cofins/cofins-cadastro']" class="card-title btn btn-outline-primary btn-sm" style="margin-left: 85%;margin-top: -10px;">Cadastrar</button>
      </h4>

    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
          <thead class="text-primary">

          <th>Concessionária</th>
          <th>Tipo</th>
          <th>Aliquota %</th>
          <th>Mês</th>
          <th>Ano</th>
          <th colspan="2">Ações</th>

          </thead>
          <tbody>

          <tr *ngFor="let cofins of listaCofins">
            <td>{{ exibirNomeConcessionaria(cofins.concessionariaId) }}</td>
            <td>{{ cofins.tipoCofins == 1 ? 'Normal' : 'Rural' }}</td>
            <td>{{ cofins.aliquota + '%' }}</td>
            <td>{{ exibirMes(cofins.mes) }}</td>
            <td>{{ cofins.ano }}</td>
            <td>
              <div class="btn-group">
                <button type="button" class="btn btn-outline-primary btn-sm"
                        [routerLink]="[cofins.id,'ver']">Detalhes</button>

                <button type="button" class="btn btn-outline-primary btn-sm dropdown-toggle"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu">
                  <button class="dropdown-item" [routerLink]="[cofins.id, 'editar']">Editar</button>
                  <button class="dropdown-item excluir" (click)="deletarPis(cofins.id)">Excluir</button>
                </div>
              </div>
            </td>
          </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>