<div class="col-md-12">
  <div class="card">
    <div class="card-header card-header-info">
      <h4 class="card-title ">Empresas
        <button [routerLink]="['/empresa/cadastro']"
                class="card-title btn btn-outline-primary btn-sm status-wrapper"  >Cadastrar</button>
      </h4>

    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table">
          <thead class="text-primary">

          <th>Razão Social</th>
          <th>CNPJ</th>
          <th>Nome Fantasia</th>
          <th>Status</th>
          <th colspan="2">Ações</th>

          </thead>
          <tbody>

            <tr *ngFor="let empresa of empresas">
              <td>{{ empresa.razaoSocial }}</td>
              <td>{{ aplicaMascara(empresa.cnpj) }}</td>
              <td>{{ empresa.nomeCurto }}</td>
              <td>{{ empresa.status === 1 ? 'Ativo' : 'Inativo' }}</td>
              <td>
                <div class="btn-group">
                  <button type="button" class="btn btn-outline-primary btn-sm"
                          [routerLink]="[empresa.id,'ver']" >Detalhes</button>

                  <button type="button" class="btn btn-outline-primary btn-sm dropdown-toggle"
                          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only">Toggle Dropdown</span>
                  </button>
                  <div class="dropdown-menu">
                    <button class="dropdown-item" [routerLink]="[empresa.id, 'editar']" >Editar</button>
                    <button class="dropdown-item excluir" (click)="deletarEmpresa(empresa.id)">Excluir</button>
                  </div>
                </div>
              </td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>