<div class="main-content">
  <div class="container-fluid">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-info">
          <h4 class="card-title ">COFINS
            <button [routerLink]="['/impostos/cofins']"
                    class="card-title btn btn-outline-primary btn-sm status-wrapper" style="margin-top: -10px;">
              <i class="material-icons">undo</i>
            </button>
          </h4>

        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class="text-primary">

              <th>Concessionária</th>
              <th>Tipo</th>
              <th>Aliquota %</th>
              <th>Mês</th>
              <th>Ano</th>


              </thead>
              <tbody>

              <tr *ngFor="let cofins of listaCofins">
                <td>{{ exibirNomeConcessionaria(cofins.concessionariaId) }}</td>
                <td>{{ cofins.tipoCofins == 1 ? 'Normal' : 'Rural' }}</td>
                <td>{{ cofins.aliquota + '%' }}</td>
                <td>{{ exibirMes(cofins.mes) }}</td>
                <td>{{ cofins.ano }}</td>

              </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





