

<div class="main-content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header card-header-info">
            <h4 class="card-title">{{ titulo }}</h4>
          </div>
          <div class="card-body">

            <form #form="ngForm" (ngSubmit)="salvar(form.value)" >

              <div class="row">

                <div class="col-md-4">
                  <mat-form-field class="example-full-width">

                    <input matInput  placeholder="Razão Social" type="text" name="razaoSocial" [(ngModel)]="razaoSocial">

                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-form-field class="example-full-width">

                    <input matInput  placeholder="Nome Fantasia" type="text" name="nomeCurto" [(ngModel)]="nomeCurto">

                  </mat-form-field>
                </div>
                <div class="col-md-4">
                  <mat-checkbox ([ngModel])="ativo" name="status" > Ativo</mat-checkbox>
                </div>

              </div>
              <div class="row">

                <div class="col-md-6">
                  <mat-form-field class="example-full-width">

                    <input matInput  placeholder="Cnpj" type="text" name="cnpj" [(ngModel)]="cnpj">

                  </mat-form-field>
                </div>
                <div class="col-md-6">
                  <!--Semantico-->
                </div>

              </div>

              <button mat-raised-button type="submit"  class="btn btn-outline-info pull-right">Confirmar</button>
              <div class="clearfix"></div>

            </form>

          </div>
        </div>
      </div>

    </div>

  </div>
</div>

